
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 20px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 190px;
}

#bottom {
    clear:both;
    position: relative;
    background-color: #c2dfef;
    padding: 25px;
    margin: 10px 0px 0px 0px;
    text-align:center;
    
   
}

#right {
    float: right;
    background-color: #ece3a5;
    height: 100%;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    height: 100%;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    height: 100%;
    padding: 5px;
    margin-left: 210px;
}

.right_content {
    background-color: #dddddd;
    height: 100%;
    padding: 5px;
    margin: 0px 210px 0px 190px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


